

    <div>
      <button type="button" id="submit">Log In</button>
    </div>

    <div>
      <h1 class="main-title">Checkout</h1>
    </div>

    <!-- added a search bar & button to search for books -->
    <div class="search">
      <input id="first-name" type="text" placeholder="First Name" size="35" />
    </div>
    <div class="search">
      <input id="last-name" type="text" placeholder="Last Name" size="35" />
    </div>
    <div class="search">
      <input id="email" type="text" placeholder="Email" size="35" />
    </div>
    <div class="search">
      <input id="phone" type="text" placeholder="Phone Number" size="35" />
    </div>
    <div class="search">
      <input id="address" type="text" placeholder="Address" size="35" />
    </div>
    <div class="search">
      <input id="city" type="text" placeholder="City" size="35" />
    </div>
    <div class="search">
      <input id="country" type="text" placeholder="Country/Region" size="35" />
    </div>
    <div class="search">
      <input id="province" type="text" placeholder="Province/State" size="35" />
    </div>
    <div class="search">
      <input id="postal" type="text" placeholder="Postal Code" size="35" />
    </div>
    <div>
      <!-- submit button -->
      <button type="button" id="submit">Submit</button>
    </div>