
    <div>
      <button type="button" id="submit">Log In</button>
  </div>

    <div>
      <h1 class="main-title">Favourites</h1>
    </div>

    <!-- div tags for each book image, title and price tag -->
    <div class="favourites">
        <div class="book">
          <div class="unfavourite">
            <input
            type="image"
            src="\images\icons\delete-icon.png"
            alt="Unfavourite this book"
          />
        </div>
        <img src="\images\icons\comingsoon.png" alt="Coming soon">
        <p>Title: </p>
        <p>Price: </p>
    </div>
    </div>

    <div class="favourites">
      <div class="book">
        <div class="unfavourite">
          <input
          type="image"
          src="\images\icons\delete-icon.png"
          alt="Unfavourite this book"
        />
      </div>
      <img src="\images\icons\comingsoon.png" alt="Coming soon">
      <p>Title: </p>
      <p>Price: </p>
  </div>
  </div>

  <div class="favourites">
    <div class="book">
      <div class="unfavourite">
        <input
        type="image"
        src="\images\icons\delete-icon.png"
        alt="Unfavourite this book"
      />
    </div>
    <img src="\images\icons\comingsoon.png" alt="Coming soon">
    <p>Title: </p>
    <p>Price: </p>
</div>
</div>

<div class="favourites">
  <div class="book">
    <div class="unfavourite">
      <input
      type="image"
      src="\images\icons\delete-icon.png"
      alt="Unfavourite this book"
    />
  </div>
  <img src="\images\icons\comingsoon.png" alt="Coming soon">
  <p>Title: </p>
  <p>Price: </p>
</div>
</div>

      <!-- submit button -->
      <button type="button" id="submit">Submit</button>
    </div>