

    <!-- login/signup buttons -->
    <div>
      <button type="button" id="submit">Log In</button>
    </div>

    <div class="logo" id="main-logo">
      <h1>
        <img src="\images\logo\mainpagelogo.png" alt="Book Around Logo" />
      </h1>
    </div>

    <!-- added a search bar & button to search for books -->
    <div class="search">
      <input
        id="search-bar"
        type="text"
        placeholder="Search for your book..."
        size="35"
      />

      <!-- submit button -->
      <input
        id="search-button"
        type="image"
        src="\images\icons\search-icon.png"
        alt="Submit"
      />
    </div>

    <div class="special-section">
      <!-- featured book section -->
      <div class="main-title featured-book">
        <p>Featured Book</p>
        <img src="\images\icons\comingsoon.png" alt="featured book" />
      </div>

      <!-- bestseller book section.  -->
      <div class="main-title bestseller-book">
        <p>Bestseller Book</p>
        <img src="\images\icons\comingsoon.png" alt="bestseller book" />
      </div>
    </div>