<div>
      <button type="button" id="submit">Log In</button>
    </div>

    <div>
      <h1 class="main-title">Search Results</h1>
    </div>

    <!-- added a search bar & button to search for books -->
    <!-- added a search bar & button to search for books -->
    <div class="search">
      <input
        id="search-bar"
        type="text"
        placeholder="Search for your book..."
        size="35"
      />

      <!-- submit button -->
      <input
        id="search-button"
        type="image"
        src="assets\images\icons\search-icon.png"
        alt="Submit"
      />
    </div>
    <div id="search-results">
      <!--link to search result api-->
    </div>