 <div class="logo" id="main-logo">
      <h1>
        <img src="assets\images\logo\mainpagelogo.png" alt="Book Around Logo" />
      </h1>
    </div>

    <div>
      <h1 class="main-title">Sign In</h1>
    </div>

    <!-- added a search bar & button to search for books -->
    <div class="search">
      <input id="first-name" type="username" placeholder="Username" size="35" />
    </div>
    <div class="search">
      <input id="password" type="text" placeholder="Password" size="35" />
    </div>
    <div>
      <!-- submit button -->
      <button type="button" id="submit">Submit</button>
    </div>
    <div>
      <!-- submit button -->
      <button type="button" id="signup">Sign Up</button>
    </div>
    <div>
      <!-- submit button -->
      <button type="button" id="forgot">Forgot Password</button>
    </div>