<div>
      <button type="button" id="submit">Log Out</button>
    </div>
    <div>
      <h1 class="main-title">
        Thank you <br />
        for your <br />
        purchase!
      </h1>
    </div>

    <div>
      <!-- submit button -->
      <button type="button" id="submit">
        Click here to keep <br />
        booking around!
      </button>
    </div>