<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/bookaround.css" >
    <title>Book Around. A webpage built to be a comparison for book prices and a
        community.</title>
  </head>
  <body
    id="background"
    style="background-image: url(/public/images/background/pagebackground.jpg)"
  >
    <!-- Added a vertical nav-bar that will always stay on the page -->
    <nav class="vertical-bar">
        <ul>
          <li>
            <a href="index.html"
              ><img src="/public/images/logo/pagelogo.png" alt="Book Around Logo"
            /></a>
          </li>
          <li>
            <a href="checkout1.html"
              ><img
                src="/public/images/icons/shopping-cart.png"
                alt="shopping cart for checkout"
            /></a>
          </li>
          <li>
            <a href="favourites.html"
              ><img
                src="/public/images/icons/favourites.png"
                alt="bookmark for favourites page"
            /></a>
          </li>
  
          <p id="slogan">
            Come <br />
            Take <br />
            A Book <br />
            Around!
          </p>
        </ul>
      </nav>

    <div>
        <button type="button" class="login">Log In</button>
    </div>

    <div>
      <h1 class="main-title">Book Info</h1>
    </div>

    <!-- div tags for each book image, title and price tag -->
    
   <!-- div tags for each book image, title and price tag -->
   <div class="favourites">
    <div class="book">
      <div class="unfavourite">
        <input
        class="delete"
        type="image"
        src="../public/images/icons/delete-icon.png"
        alt="Unfavourite this book"
      />
    </div>
    <p>Title: <br>
      Price: </p>
</div>
</div>



      <!-- submit button -->
      
    </div>
  </body>
</html>